@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  height: 100%;
  fill: rgb(0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/public/images/background3.jpg");

  font-family: "Akaya Telivigala", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

/* main */
.container {
  height: 100%;
  width: 780px; /* desktop*/
  /*background-color: #7e7e7e;*/
  background: linear-gradient(420deg, #b8b6b6, #302d2d, #c7b861);
  background-size: 180% 180%;
  animation: gradient-animation 20s ease infinite;
  border-radius: 55px;
  padding: 10px;
  /* opacity: 0.9;*/
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 69%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 33%;
  }
}

/* quiz container*/
.quiz-wrapper {
  font-size: 1.4rem;
  color: #fff !important;
  text-align: center;
}

.quiz-wrapper h3 {
  font-weight: lighter;
  font-size: 3.2rem;
}

.quiz-wrapper p {
  margin: 0.8rem 0;
  padding-top: 0.8rem;
}

/*.quiz-wrapper h2 {
  font-size: 3rem;
  color: #fd0909;
}/*



/* button */
.btn-start {
  outline: none;
  border: none;
  background-color: #020202;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.7rem 2rem;
  font-family: inherit;
  border-radius: 2px;
  margin-bottom: 10px;
}

.btn-next {
  outline: none;
  border: none;
  background-color: #1e9438ee;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.7rem 2rem;
  font-family: inherit;
  border-radius: 2px;
}
/*container spacing */
.quiz .quiz-header {
  box-shadow: inset 0 0 10px rgb(0, 0, 0);
  color: #fff;
  padding: 2rem;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: medium;
}
/* quiz body */
.quiz .quiz-body {
  padding: 2rem;
  text-align: center;
  font-family: "JetBrains Mono", monospace;

  /* check if flex works better after
  display: flex;
  align-items: center;
  justify-content: center;*/
}

/*answer list*/
.quiz .quiz-body li {
  list-style-type: none;
  margin: 1rem 0;
  width: 100%;
  background-color: #14130f;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 1rem;
  border-radius: 55px;
  cursor: pointer;

  transition: all 0.5s ease-in-out;
}

.quiz .quiz-body li:hover {
  zoom: 1.3;
  font-size: 1.2rem;
  color: #7e7e7e;
}

.quiz .quiz-body li.correct {
  background-color: #11c44d;
  margin-left: 1rem;
  cursor: not-allowed;
}

.quiz .quiz-body li.correct {
  background-color: #ddd;
  cursor: not-allowed;
}

.quiz .quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 0 5px rgb(70, 70, 73);
  color: #fff !important;
  padding: 1rem 2rem;
}

.quiz .quiz-footer p {
  font-size: 1.2rem;
}
